


/* ====== Contact ====== */

section.contact-hero {
    min-height: 100vh;
    width:100%;
    background-color: $primary-color;
}



section.contact-title {
    margin-top: -20%;
    position: relative;

        h1 {
            font-family: "Trade Gothic";
            font-size: 36.6vw;
            color: #fff;
            text-transform: uppercase;
            line-height: 0.9;
            letter-spacing: -5px;
        }

  }

  div.contact-page--links {
    display: flex;
    // flex-direction: column;
    margin-top: 60px;


    span {
        overflow: hidden;
        margin-right: 20px;
    }

    a {
        color: $grey-color;
        font-size: $link-size;
        text-transform: uppercase;
        margin-bottom: 5px;
        transition: color 0.3s ease;
        display: inline-block;
        transform: translateY(22px);

        &:hover {
            color: $white-color; 
        }
    }
}

  section div.contact-info--wrap {
    padding: 0 60px;
    position: relative;
    max-width: 1400px;
    min-height: 100vh;
    margin: auto;



    div.emoji {
        font-size: 22px;
        margin-bottom: 30px;
    }


    div.dot {
        width: 80px;
        height: 80px;
        background-color: $orange-color;
        border-radius: 50%;
        position: absolute;
        top: 65%;
        right: 30%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    // div.dot-2 {
    //     width: 80px;
    //     height: 80px;
    //     background-color: $orange-color;
    //     border-radius: 50%;
    //     position: absolute;
    //     bottom: -30%;
    //     left: 10%;
    //     z-index: 2;
    // }

    div.contact-info {
        width: 50%;
        margin: 0 50%;

        div.contact-info--summary {
            margin-bottom: 40px;
        }

        div.contact-info--summary.highlight {
            position: relative;
            margin-bottom: 40px;

        .contact-info--mask {
            height: 100%;
            width: 100%;
            background-color: white;
            position: absolute;
            right: 0;
            top: 0;
            // transition: width 0.8s 0.3s cubic-bezier(.72,0,.01,1);
        }




        }
    }


  }




  main.main-contact {
    margin-bottom: 100vh;
}

footer.contactpage-footer {
    min-height: 100vh;
    background-color: $orange-color;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;

    div.credit.alt {
        display: flex;
        justify-content: flex-end;
        width: 100%;

        span:nth-child(1) {
            margin-right: 8px;
            color: $primary-color;

            a {
                color: $primary-color;
            }
        }
    }


    div.logo-wrap div.spinner {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
         -webkit-transform: translate(-50%, -50%);
         -ms-transform: translate(-50%, -50%);
         transform: translate(-50%, -50%);
        
        cursor: pointer;
        pointer-events: none;
        animation: spin 2.3s linear infinite;
      }
      
      div.logo-wrap div.face {
         position: absolute;
        width: 120px;
        height: 120px;
        top: 50%;
        left: 50%;
        color: #fff;
        
         -webkit-transform: translate(-50%, -50%);
         -ms-transform: translate(-50%, -50%);
         transform: translate(-50%, -50%);
        
        cursor: pointer;
        pointer-events: none;
      }





      div.logo-wrap {
        position: relative;
        height: 100vh;
        width: 100vw;
      }


}