$primary-color: black;
$white-color: #fff;
$grey-color: #999999;
$orange-color: #fc3e17;
$darkgrey-color: #575757;

$body-font: "Maison Mono";
$title-font: "Trade Gothic";
$body-size: 16px;
$link-size: 13px;
$uppercase: uppercase;

$mq-xlarge: 1000px;
$mq-large: 800px;
$mq-medium: 600px;
$mq-small: 500px;
