html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img, iframe {
  vertical-align: bottom;
  max-width: 100%; }

input, textarea, select {
  font: inherit; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: "Maison Mono";
  src: url(fonts/MaisonMono-Regular.woff); }

@font-face {
  font-family: Trade Gothic;
  src: url(fonts/TradeGothic-Bold.woff); }

@keyframes loaderLine {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

@keyframes fadeup {
  0% {
    transform: translateY(14px) rotate(12deg);
    opacity: 0; }
  100% {
    transform: translateY(0px) rotate(0deg);
    opacity: 1; } }

body {
  background-color: #fff;
  color: black;
  font-family: "Maison Mono";
  line-height: 1.5;
  font-size: 16px; }

a {
  text-decoration: none; }

div.loader {
  width: 100%;
  height: 100vh;
  background-color: white;
  position: fixed;
  z-index: 999;
  opacity: 1;
  transition: opacity 0.8s ease;
  pointer-events: none;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  color: #999999; }
  div.loader div.loader-line {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: black;
    animation: loaderLine 1s cubic-bezier(0.72, 0, 0.01, 1); }
  div.loader div.loader-page--description {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 40px; }
    div.loader div.loader-page--description span {
      margin-right: 3px;
      overflow: hidden; }
      div.loader div.loader-page--description span p {
        transform: translateY(14px); }

/* =========== Header =========== */
header {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: black;
  padding-left: 40px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  will-change: transform;
  height: 90px;
  transform: translate3d(0, -100%, 0);
  transition: transform 1s 0.2s; }
  header a.social {
    color: black;
    text-transform: uppercase; }
  header a h1 img.logo {
    width: 120px;
    position: fixed;
    left: 50%;
    top: 30px;
    transform: translateX(-50%); }
  header div.menu-area {
    position: fixed;
    top: 0;
    right: 0;
    height: 90px;
    width: 90px; }
  header div.menu-ball {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    will-change: transform;
    transform: translate(-50%, -50%); }
  header div.burger {
    height: 2px;
    width: 28px;
    background-color: #000000;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transition: all 0.3s 0.2s;
    -o-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s; }
  header div.nav-toggle {
    display: flex;
    flex-direction: column;
    height: 18px;
    justify-content: space-between;
    will-change: transform;
    padding: 5px 0;
    transition: transform 0.5s;
    cursor: pointer;
    z-index: 99;
    align-items: flex-end; }

header.animated {
  transform: translate3d(0, 0%, 0); }

header a.white {
  color: #ffffff; }

/* =========== Menu =========== */
div.menu {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fc3e17;
  z-index: 997;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform;
  transform: translateY(-100%);
  transition: transform 0.6s 0.2s cubic-bezier(0.72, 0, 0.01, 1); }
  div.menu a {
    text-align: center;
    color: black;
    font-size: 20px; }
  div.menu .menu-container {
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    position: relative; }
  div.menu .nav-item {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
    pointer-events: none; }
  div.menu .nav-area--wrap {
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center; }

div.menu.open {
  transform: translateY(0); }

/* =========== footer =========== */
footer {
  height: 70vh;
  width: 100%;
  background-color: black;
  position: relative;
  font-size: 13px;
  color: #999999; }
  footer div.footer-wrap {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 40px 40px 40px;
    display: flex;
    justify-content: space-between; }
    footer div.footer-wrap a {
      color: #999999; }
    footer div.footer-wrap div {
      width: 50%; }
    footer div.footer-wrap div.credit {
      text-align: right; }
    footer div.footer-wrap div.social-links span {
      overflow: hidden; }
    footer div.footer-wrap div.social-links a {
      margin-right: 20px;
      transform: translateY(14px);
      display: inline-block; }

/* =========== Profile =========== */
header a.social-about {
  color: #fff;
  text-transform: uppercase;
  transition: color 0.4s 0.2s cubic-bezier(0.72, 0, 0.01, 1); }

header a.social-about.black {
  color: black; }

main {
  background-color: black;
  color: #fff; }

section.profile-hero {
  min-height: 100vh;
  width: 100%;
  background-color: black; }

section.hero-title {
  height: 100%;
  margin-top: -40%; }
  section.hero-title h1 {
    font-family: "Trade Gothic";
    font-size: 50.5vw;
    color: #fff;
    text-transform: uppercase; }

section.profile {
  display: flex;
  align-items: center;
  min-height: 100vh; }
  section.profile .profile-content {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 30px; }
  section.profile div.profile-info {
    width: 50%;
    margin-left: 50%; }
    section.profile div.profile-info .info-mask {
      height: 100%;
      width: 100%;
      background-color: white;
      position: absolute;
      right: 0;
      top: 0;
      transition: width 0.8s 0.3s cubic-bezier(0.72, 0, 0.01, 1); }
    section.profile div.profile-info .info-mask.animated {
      width: 0%; }
    section.profile div.profile-info div.info-wrap {
      margin-bottom: 32px;
      position: relative; }
  section.profile div.parallax-img {
    width: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(8deg);
    display: flex;
    align-items: center;
    justify-content: center; }
  section.profile div.parallax-img img {
    width: 300px; }
  section.profile div.dot {
    width: 80px;
    height: 80px;
    background-color: #fc3e17;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 80px; }
